.card {
  width: 18rem;
  height: 25rem;
  margin: 0.5rem 0;
  box-shadow: 1px 4px 30px rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  &_image-container {
    width: 100%;
  }
  &_image {
    width: 100%;
  }
  &_details {
    padding: 0 1.5rem 1.5rem 1.5rem;
    p{
        margin: 0.3rem 0;
    }
  }
}
