@use "../abstracts/mixins" as m;

.pagination-container{
   @include m.flex-config(center,center,false,false,false);
   margin-left: -1rem;
}

.pagination {
  @include m.flex-config(center,center,false,false,false);
    list-style: none;
    cursor: pointer;
    margin: 3rem;
  }
  
  .pagination a {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #6c7ac9;
    color: #6c7ac9;
  }
  
  .pagination__link {
    font-weight: bold;
  }
  
  .pagination__link--active a {
    color: #fff;
    background: #6c7ac9;
  }
  
  .pagination__link--disabled a {
    color: rgb(198, 197, 202);
    border: 1px solid rgb(198, 197, 202);
  }